#retrieve-password.tab-pane{"data-bind" => "css: { active: currentPage() == 'retrieve-password' }"}
  = form_for(@user, :as => :user, :url => password_path(:user) , html: { class: "form-horizontal" ,
    data: { bind: "submit: retrievePassword"  } } ) do |f|                                          
    %fieldset
      #email_group.control-group
        %label.control-label{:for => "email"} Email
        .controls
          = f.email_field :email, autofocus: true , data: { bind: 'value: email' }
      .form-actions
        = f.submit "Change password" ,  class: "btn btn-primary"
